In [1]:
import pandas as pd
import os
import json

In [2]:
DATA_PATH = os.path.join('../Apple Music Activity')
FILE_NAME_CONTAINER = 'Apple Music - Container Details.csv'
FILE_NAME_CONTAINER_ORIGIN = 'Apple Music - Container Origin.csv'
DOCS_PATH = os.path.join('../docs/Library')

In [3]:
df = pd.read_csv(os.path.join(DATA_PATH, FILE_NAME_CONTAINER))
df_origin = pd.read_csv(os.path.join(DATA_PATH, FILE_NAME_CONTAINER_ORIGIN))

In [4]:
df.shape, df_origin.shape

((768, 10), (511, 8))

In [5]:
set(df.columns) - set(df_origin.columns)

{'Container Description', 'Container Type'}

In [9]:
df.columns

Index(['Container Description', 'Container Type', 'Origin', 'Date Created',
       'Play Duration Milliseconds', 'Artist Name', 'Last Played',
       'Play Count', 'Genres', 'Artists'],
      dtype='object')

In [17]:
df.iloc[0]

Container Description                                                       NaN
Container Type                                                         PLAYLIST
Origin                                    RECENT_FAVORITE_PERSONAL_MIX_PLAYLIST
Date Created                                                           20240515
Play Duration Milliseconds                                               815285
Artist Name                                                                 NaN
Last Played                                                       1715808489705
Play Count                                                                    6
Genres                                        Dance, Hip Hop/Rap, Indian, Music
Artists                       Juice WRLD, Lil Uzi Vert, Marshmello, Mau P, M...
Unique                                                                _20240515
Name: 0, dtype: object

In [18]:
df_origin.iloc[0]

Origin                                                   AUTOPLAY_RADIO_STATION
Date Created                                                           20240506
Play Duration Milliseconds                                               897272
Artist Name                                                                 NaN
Last Played                                                       1715016826111
Play Count                                                                    7
Genres                                                       Hip Hop/Rap, Music
Artists                       Drake, Future, Kanye West, Kendrick Lamar, You...
Name: 0, dtype: object

In [22]:
df[(df['Date Created'] == 20240506) & (df['Origin'] == 'AUTOPLAY_RADIO_STATION')]

,Container Description,Container Type,Origin,Date Created,Play Duration Milliseconds,Artist Name,Last Played,Play Count,Genres,Artists,Unique
366,Kanye West - Good Life (feat. T-Pain) Radio,RADIO,AUTOPLAY_RADIO_STATION,20240506,897272,NaN,1715016826111,7,"Hip Hop/Rap, Music","Drake, Future, Kanye West, Kendrick Lamar, You...",Kanye West - Good Life (feat. T-Pain) Radio_20...

In [25]:
df_origin['Date Created'].min()

np.int64(20240506)

In [26]:
df_origin[(df_origin['Date Created'] == 20240506)]

,Origin,Date Created,Play Duration Milliseconds,Artist Name,Last Played,Play Count,Genres,Artists
0,AUTOPLAY_RADIO_STATION,20240506,897272,NaN,1715016826111,7,"Hip Hop/Rap, Music","Drake, Future, Kanye West, Kendrick Lamar, You..."
139,UNKNOWN,20240506,283220,NaN,1714969515564,2,"Dance, Music",Mau P