In [2]:
import os
import json
import pyperclip
import pandas as pd

In [3]:
DATA_PATH = os.path.join('../Apple Music Activity')

In [4]:
with open(os.path.join(DATA_PATH, 'Apple Music Library Tracks.json'), 'r') as f:
    library = json.load(f)

In [5]:
type(library), len(library)

(list, 2761)

In [6]:
df = pd.DataFrame(library)

In [7]:
df.shape

(2761, 52)

In [8]:
df.columns

Index(['Content Type', 'Track Identifier', 'Title', 'Sort Name', 'Artist',
       'Sort Artist', 'Composer', 'Is Part of Compilation', 'Album',
       'Sort Album', 'Album Artist', 'Genre', 'Track Year',
       'Track Number On Album', 'Track Count On Album', 'Disc Number Of Album',
       'Disc Count Of Album', 'Track Duration', 'Track Play Count',
       'Date Added To Library', 'Date Added To iCloud Music Library',
       'Last Modified Date', 'Last Played Date', 'Skip Count',
       'Date of Last Skip', 'Is Purchased', 'Audio File Extension',
       'Is Checked', 'Copyright', 'Release Date', 'Purchased Track Identifier',
       'Apple Music Track Identifier', 'Track Like Rating',
       'Favorite Status - Track', 'Favorite Date - Track', 'Album Like Rating',
       'Favorite Status - Album', 'Grouping', 'Comments', 'Beats Per Minute',
       'Rating', 'Album Rating', 'Remember Playback Position',
       'Album Rating Method', 'Work Name', 'Movement Name', 'Movement Number',
       'Movement Count', 'Display Work Name', 'Playlist Only Track',
       'Sort Album Artist', 'Tag Matched Track Identifier'],
      dtype='object')

In [9]:
df['Track Identifier'].isna().sum()

0

In [10]:
df['Sort Name'].isna().sum()

96

In [11]:
df['Content Type'].value_counts()

Content Type
Song           2743
Music Video      18
Name: count, dtype: int64

In [12]:
df['Artist'].nunique(), df['Artist'].isna().sum()

(1327, 32)

In [13]:
non_null_artists_df = df[~df['Artist'].isna()]
non_null_artists_df.shape

(2729, 52)

In [14]:
df['Composer'].nunique(), df['Composer'].isna().sum()

(1893, 478)

In [15]:
df['Is Part of Compilation'].value_counts()

Is Part of Compilation
False    2543
True      200
Name: count, dtype: int64

In [16]:
df[df['Is Part of Compilation'] == True].to_csv('compilations.csv', index=False)

In [17]:
min_index = -1
min_len = 100
for i, row in df.iterrows():
    ctr = 0
    for col in df.columns:
        if pd.isna(row[col]):
            ctr += 1
    if  ctr < min_len:
        min_len = ctr
        min_index = i

print (min_len)

4

In [18]:
def generate_markdown_table(df, min_index):
    # Helper function to map data types to more readable formats
    def map_data_type(dtype, sample_value):
        # Check for datetime
        if pd.api.types.is_datetime64_any_dtype(dtype) or (
            isinstance(sample_value, str) and pd.to_datetime(sample_value, errors='coerce') is not pd.NaT
        ):
            return "Datetime"
        # Check for Boolean (Python Boolean or string representation)
        elif isinstance(sample_value, bool) or (isinstance(sample_value, str) and sample_value.lower() in ["true", "false"]):
            return "Boolean"
        elif pd.api.types.is_string_dtype(dtype):
            return "String"
        elif pd.api.types.is_numeric_dtype(dtype):
            if pd.api.types.is_integer_dtype(dtype):
                return "Integer"
            elif pd.api.types.is_float_dtype(dtype):
                return "Float"
        elif isinstance(sample_value, list):
            return "List"
        else:
            return str(dtype)  # Fallback to original dtype if no match

    # Generate the table header
    markdown = "| Column Name | Data Type | Description | Example Value |\n"
    markdown += "|-------------|-----------|-------------|---------------|\n"

    # Iterate over DataFrame columns to generate each row
    for column in df.columns:
        sample_value = df[column].iloc[min_index] if not df[column].empty else "N/A"
        data_type = map_data_type(df[column].dtype, sample_value)
        # Convert example_value to string to avoid formatting issues
        example_value = str(sample_value).replace("\n", " ").replace("|", "\\|")
        # Create a new row for each column
        markdown += f"| `{column}` | {data_type} |  | {example_value} |\n"

    return markdown

markdown_output = generate_markdown_table(df, min_index)
pyperclip.copy(markdown_output)

In [19]:
# Compute the number of NaNs in each row
num_nans_per_row = df.isna().sum(axis=1)

# Find the minimal number of NaNs and the corresponding row index
min_len_new = num_nans_per_row.min()
min_index_new = num_nans_per_row.idxmin()

print (min_len_new)

4

In [20]:
df['Genre'].value_counts()

Genre
Hip-Hop/Rap          891
Dance                465
Pop                  230
Electronic           189
Easy Listening       188
                    ...
Progressive House      1
Underground Rap        1
Spoken Word            1
Traditional Folk       1
Pop/Rock               1
Name: count, Length: 68, dtype: int64

In [21]:
df['Genre'].isna().sum()

37

In [22]:
df['Track Year'].isna().sum()

9

In [23]:
df['Track Year'] = df['Track Year'].astype('Int64')

In [79]:
df['Track Year'].isna().sum()

9

In [39]:
utopia_df = df[df['Album'] == 'UTOPIA']

In [40]:
utopia_df[['Title', 'Track Number On Album', 'Track Count On Album', 'Disc Number Of Album', 'Disc Count Of Album']]

,Title,Track Number On Album,Track Count On Album,Disc Number Of Album,Disc Count Of Album
1750,HYAENA,1,19,1,1
1751,THANK GOD,2,19,1,1
1752,MODERN JAM (feat. Teezo Touchdown),3,19,1,1
1753,MY EYES,4,19,1,1
1754,GOD'S COUNTRY,5,19,1,1
1755,SIRENS,6,19,1,1
1756,MELTDOWN (feat. Drake),7,19,1,1
1757,FE!N (feat. Playboi Carti),8,19,1,1
1758,DELRESTO (ECHOES) [feat. Beyoncé],9,19,1,1
1759,I KNOW ?,10,19,1,1
1760,TOPIA TWINS (feat. Rob49 & 21 Savage),11,19,1,1
1761,CIRCUS MAXIMUS (feat. The Weeknd & Swae Lee),12,19,1,1
1762,PARASAIL (feat. Yung Lean & Dave Chappelle),13,19,1,1
1763,SKITZO (feat. Young Thug),14,19,1,1
1764,LOST FOREVER (feat. Westside Gunn),15,19,1,1
1765,LOOOVE (feat. Kid Cudi),16,19,1,1
1766,K-POP (feat. Bad Bunny & The Weeknd),17,19,1,1
1767,TELEKINESIS (feat. SZA & Future),18,19,1,1
1768,TIL FURTHER NOTICE (feat. James Blake & 21 Sav...,19,19,1,1

In [ ]:
df['Track Number On Album'].isna().sum(), df['Track Count On Album'].isna().sum(), df['Disc Number Of Album'].isna().sum(), df['Disc Count Of Album'].isna().sum()

In [29]:
df['Track Number On Album'] = df['Track Number On Album'].astype('Int64')
df['Track Count On Album'] = df['Track Count On Album'].astype('Int64')
df['Disc Count Of Album'] = df['Disc Count Of Album'].astype('Int64')
df['Disc Number Of Album'] = df['Disc Number Of Album'].astype('Int64')

In [38]:
df['Track Number On Album'].isna().sum(), df['Track Count On Album'].isna().sum(), df['Disc Number Of Album'].isna().sum(), df['Disc Count Of Album'].isna().sum()

(14, 14, 14, 14)

In [41]:
df['Track Duration'].isna().sum()

0    182857262
1    182857266
2    182857270
3    182857474
4    182857478
Name: Track Identifier, dtype: int64

In [47]:
df[df['Track Number On Album']==0][['Title', 'Track Number On Album', 'Track Count On Album', 'Disc Number Of Album', 'Disc Count Of Album']]

,Title,Track Number On Album,Track Count On Album,Disc Number Of Album,Disc Count Of Album
451,Travis Scott INTERSTELLAR ft Frank Ocean Hans...,0,0,0,0
452,INTERSTELLAR,0,0,0,0
453,goosebumps (Time Remix),0,0,0,0
731,WhatsApp Audio 2021-11-25 at 7.05.22 PM,0,0,0,0
864,Never Say Goodbye,0,0,0,0
...,...,...,...,...,...
1833,Boppenheimer (Aaron Hibell Trance Extended Mix),0,0,0,0
1835,Oppenheimer X Interstellar EMOTIONAL VERSION (...,0,0,0,0
1836,Interstellar Theme EPIC Version [TubeRipper.com],0,0,0,0
1843,hibell-glued-2-deep-in-time-aaron-hibell-edit_...,0,0,0,0
2253,b378992f203f4ed994d90a84c2169c83.HD-1080p-2.5M...,0,0,0,0

In [48]:
df.iloc[min_index]['Track Duration']

222085.0

In [49]:
df['Is Checked'].value_counts()

Is Checked
False    2761
Name: count, dtype: int64

In [50]:
df['Beats Per Minute'].value_counts()

Beats Per Minute
0.0      81
125.0     4
124.0     3
128.0     1
130.0     1
158.0     1
126.0     1
Name: count, dtype: int64

In [51]:
df['Beats Per Minute'].isna().sum()

2669

In [52]:
df['Purchased Track Identifier'].isna().sum()

99

In [53]:
df[df['Purchased Track Identifier'].isna()]['Title']

451     Travis Scott  INTERSTELLAR ft Frank Ocean Hans...
452                                          INTERSTELLAR
453                               goosebumps (Time Remix)
731               WhatsApp Audio 2021-11-25 at 7.05.22 PM
864                                     Never Say Goodbye
                              ...
2143                                          PROBLEMATIC
2144                                                 KING
2250                                       7 Minute Drill
2251        Taylor Made Freestyle (feat 2Pac, Snoop Dogg)
2253    b378992f203f4ed994d90a84c2169c83.HD-1080p-2.5M...
Name: Title, Length: 99, dtype: object

In [54]:
df['Apple Music Track Identifier'].isna().sum()

84

In [55]:
df[df['Apple Music Track Identifier'].isna()]['Title']

451     Travis Scott  INTERSTELLAR ft Frank Ocean Hans...
452                                          INTERSTELLAR
453                               goosebumps (Time Remix)
731               WhatsApp Audio 2021-11-25 at 7.05.22 PM
864                                     Never Say Goodbye
                              ...
2143                                          PROBLEMATIC
2144                                                 KING
2250                                       7 Minute Drill
2251        Taylor Made Freestyle (feat 2Pac, Snoop Dogg)
2253    b378992f203f4ed994d90a84c2169c83.HD-1080p-2.5M...
Name: Title, Length: 84, dtype: object

In [61]:
df['Track Like Rating'].value_counts()

Track Like Rating
liked        203
none          85
undefined     10
Name: count, dtype: int64

In [63]:
df[df['Track Like Rating'] == 'none']['Title']

106                                           Sunday Best
128                                              Papa Hai
203                                              Mask Off
204               Mask Off (Remix) [feat. Kendrick Lamar]
248                                  Hollywood's Bleeding
                              ...
2251        Taylor Made Freestyle (feat 2Pac, Snoop Dogg)
2253    b378992f203f4ed994d90a84c2169c83.HD-1080p-2.5M...
2576                                             Hey Jude
2580                                              TORE UP
2694                                          Millionaire
Name: Title, Length: 85, dtype: object

In [64]:
df['Favorite Status - Track'].value_counts()

Favorite Status - Track
True    203
Name: count, dtype: int64

In [65]:
df['Favorite Date - Track'].isna().sum()

2565

In [66]:
df['Favorite Date - Track'].value_counts()

Favorite Date - Track
2024-05-30T19:05:54Z    1
2023-11-06T05:33:20Z    1
2023-06-10T09:39:14Z    1
2022-11-17T11:01:51Z    1
2022-11-17T11:05:54Z    1
                       ..
2023-04-10T19:40:50Z    1
2023-09-30T22:10:32Z    1
2024-05-22T03:07:41Z    1
2024-01-01T05:08:43Z    1
2024-09-24T20:48:16Z    1
Name: count, Length: 196, dtype: int64

In [67]:
df['Album Like Rating'].value_counts()

Album Like Rating
none         115
liked         28
undefined     10
Name: count, dtype: int64

In [68]:
df[df['Album Like Rating'] == 'liked']['Album']

56              Vaaqif
60              Vaaqif
61              Vaaqif
62              Vaaqif
64              Vaaqif
65              Vaaqif
66              Vaaqif
67              Vaaqif
71              Vaaqif
72              Vaaqif
1424    Quest For Fire
1425    Quest For Fire
1426    Quest For Fire
1427    Quest For Fire
1428    Quest For Fire
1429    Quest For Fire
1430    Quest For Fire
1431    Quest For Fire
1432    Quest For Fire
1433    Quest For Fire
1434    Quest For Fire
1435    Quest For Fire
1436    Quest For Fire
1514    Quest For Fire
1515    Quest For Fire
1516    Quest For Fire
1517    Quest For Fire
1686    Quest For Fire
Name: Album, dtype: object

In [72]:
df[df['Favorite Status - Album'] == True]['Album']

56              Vaaqif
60              Vaaqif
61              Vaaqif
62              Vaaqif
64              Vaaqif
65              Vaaqif
66              Vaaqif
67              Vaaqif
71              Vaaqif
72              Vaaqif
1424    Quest For Fire
1425    Quest For Fire
1426    Quest For Fire
1427    Quest For Fire
1428    Quest For Fire
1429    Quest For Fire
1430    Quest For Fire
1431    Quest For Fire
1432    Quest For Fire
1433    Quest For Fire
1434    Quest For Fire
1435    Quest For Fire
1436    Quest For Fire
1514    Quest For Fire
1515    Quest For Fire
1516    Quest For Fire
1517    Quest For Fire
1686    Quest For Fire
Name: Album, dtype: object

In [73]:
df['Grouping'].value_counts()

Grouping
                90
3 Are Legend     1
Lost Demos       1
Side A           1
MOON MUSiC       1
Name: count, dtype: int64

In [74]:
df['Comments'].value_counts()

Comments
                                  87
Downloaded from RnBXclusive.se     1
www.livingelectro.com              1
Nitr0n                             1
www.Sarzamin.org                   1
Downloaded from Arewamh.com.ng     1
Name: count, dtype: int64

In [75]:
df['Rating'].value_counts()

Rating
0.0      117
100.0      1
Name: count, dtype: int64

In [76]:
df['Rating'].isna().sum()

2643

In [77]:
df['Album Rating'].value_counts()

Album Rating
0.0      106
100.0     12
Name: count, dtype: int64

In [78]:
df[df['Album Rating'] == 100.0]['Title']

1424                                    Rumble
1427                               Hazel Theme
1428                 Supersonic (my existence)
1429                                Good Space
1430                                   Hydrate
1431                       TOO BIZARRE (juked)
1432                           A Street I Know
1433                               Butterflies
1434                                     Tears
1435                                    RATATA
1436                        Leave Me Like This
1686    SKRILLEX - QUEST FOR FIRE Basement Set
Name: Title, dtype: object

In [79]:
df['Remember Playback Position'].value_counts()

Remember Playback Position
False    107
Name: count, dtype: int64

In [82]:
df[df['Remember Playback Position'] == False]['Title'].to_csv('remember_playback_position_false.csv', index=False)

In [83]:
df['Album Rating Method'].value_counts()

Album Rating Method
Calculated    115
Name: count, dtype: int64

In [84]:
df['Work Name'].value_counts()

Work Name
    91
Name: count, dtype: int64

In [85]:
df['Work Name'].isna().sum()

2670

In [86]:
df['Movement Name'].value_counts()

Movement Name
    91
Name: count, dtype: int64

In [87]:
df['Movement Name'].isna().sum()

2670

In [88]:
df['Movement Number'].value_counts()

Movement Number
0.0    91
Name: count, dtype: int64

In [89]:
df['Movement Number'].isna().sum()

2670

In [90]:
df['Title'].isna().sum()

0

In [91]:
df['Playlist Only Track'].value_counts()

Playlist Only Track
True     300
False    173
Name: count, dtype: int64

In [92]:
df[df['Playlist Only Track'] == True]['Title']

171                               2 Phút Hơn (KAIZ Remix)
172                                                  UCLA
173                        I Don't Like (feat. Lil Reese)
175     Everytime We Touch (Hardwell & Maurice West Re...
176                       Everytime We Touch (Radio Edit)
                              ...
2572                                        Pump It (D&B)
2573                                        Big City Life
2574                          Trigga Finga (feat. Trigga)
2575                       Laserbeam (Blanke's ÆON:REMIX)
2650                         Arjan Vailly (From "Animal")
Name: Title, Length: 300, dtype: object

In [93]:
df['Sort Album Artist'].isna().sum()

2750

In [94]:
df['Sort Album Artist'].value_counts()

Sort Album Artist
Hardwell    8
Beatles     2
Czars       1
Name: count, dtype: int64

In [95]:
df['Display Work Name'].isna().sum()

2654

In [96]:
df['Display Work Name'].value_counts()

Display Work Name
False    107
Name: count, dtype: int64

In [97]:
df['Tag Matched Track Identifier'].isna().sum()

2759

In [98]:
df['Tag Matched Track Identifier'].value_counts()

Tag Matched Track Identifier
717138782.0    1
724224735.0    1
Name: count, dtype: int64