In [1]:
import os
import json
import pyperclip
import pandas as pd

In [2]:
DATA_PATH = os.path.join('../Apple Music Activity')
FILE_NAME = 'Apple Music - Play Statistics.csv'
DOCS_PATH = os.path.join('../docs/Library')
# DOC_NAME = 'LIBRARY_ACTIVITY.md'

In [3]:
df = pd.read_csv(os.path.join(DATA_PATH, FILE_NAME))

In [4]:
df.shape

(361, 5)

In [5]:
df.columns

Index(['Play Duration Milliseconds', 'First Played', 'Last Played',
       'Source Type', 'Date Created'],
      dtype='object')

In [6]:
df.head()

,Play Duration Milliseconds,First Played,Last Played,Source Type,Date Created
0,109646,1746491004520,1746491114166,IPHONE,20250506
1,10769500,1746407424817,1746477008514,IPHONE,20250505
2,10528236,1746049947283,1746397360127,"IPHONE, MACINTOSH",20250504
3,12465002,1746235770037,1746309847387,IPHONE,20250503
4,12733085,1746145786646,1746223102147,IPHONE,20250502

In [7]:
df.sort_values(by='Date Created', ascending=True)

,Play Duration Milliseconds,First Played,Last Played,Source Type,Date Created
360,15209863,1714954571213,1715028540159,IPHONE,20240506
359,6631331,1715042453920,1715129686359,IPHONE,20240507
358,13572857,1715129687216,1715208519045,IPHONE,20240508
357,9537119,1715213283778,1715300336033,"IPHONE, MACINTOSH",20240509
356,17821325,1715300341697,1715381633212,IPHONE,20240510
...,...,...,...,...,...
4,12733085,1746145786646,1746223102147,IPHONE,20250502
3,12465002,1746235770037,1746309847387,IPHONE,20250503
2,10528236,1746049947283,1746397360127,"IPHONE, MACINTOSH",20250504
1,10769500,1746407424817,1746477008514,IPHONE,20250505
0,109646,1746491004520,1746491114166,IPHONE,20250506