In [1]:
import pandas as pd
import os

In [2]:
DATA_PATH = os.path.join('../Apple Music Activity')
FILE_NAME = 'Apple Music - Top Content.csv'
# DOCS_PATH = os.path.join('../docs/Library')
# DOC_NAME = 'PLAY_ACTIVITY.md'

In [3]:
df = pd.read_csv(os.path.join(DATA_PATH, FILE_NAME))

In [4]:
df.shape

(568, 8)

In [5]:
df.columns

Index(['Country', 'Content', 'Play Duration Milliseconds', 'First Played',
       'Last Played', 'Last Received', 'Source Type', 'Rankings'],
      dtype='object')

In [6]:
df['Country'].value_counts()

Country
United States    568
Name: count, dtype: int64

In [7]:
df['Content'].value_counts()

Content
Singer/Songwriter    2
Travis Scott         1
Far East Movement    1
J. Rey Soul          1
Ray Volpe            1
                    ..
Akshath              1
Akanksha Sethi       1
Naam Sujal           1
Quality Control      1
Salsa y Tropical     1
Name: count, Length: 567, dtype: int64

In [8]:
df['Play Duration Milliseconds']

0      161139405
1      108467843
2       96167124
3       91624710
4       88486166
         ...
563       109395
564        48791
565        38802
566        36553
567        30854
Name: Play Duration Milliseconds, Length: 568, dtype: int64

In [9]:
df['Play Duration Seconds'] = df['Play Duration Milliseconds']/1000

In [10]:
df['Play Duration Minutes'] = df['Play Duration Seconds']/60
df['Play Duration Hours'] = df['Play Duration Minutes']/60

In [11]:
df.head()

,Country,Content,Play Duration Milliseconds,First Played,Last Played,Last Received,Source Type,Rankings,Play Duration Seconds,Play Duration Minutes,Play Duration Hours
0,United States,Travis Scott,161139405,1714884341305,1746476593906,1746476594126,"IPHONE, MACINTOSH, WINDOWS, GAME_CONSOLE",1,161139.405,2685.656750,44.760946
1,United States,Drake,108467843,1714872870818,1746471461582,1746471462139,"IPHONE, MACINTOSH, WINDOWS, GAME_CONSOLE",2,108467.843,1807.797383,30.129956
2,United States,Seedhe Maut,96167124,1714956412085,1746455284470,1746455284608,"IPHONE, MACINTOSH, GAME_CONSOLE",3,96167.124,1602.785400,26.713090
3,United States,The Weeknd,91624710,1714958029103,1746395231777,1746395231901,"IPHONE, MACINTOSH, GAME_CONSOLE",4,91624.710,1527.078500,25.451308
4,United States,Fred again..,88486166,1714935830446,1746391628346,1746391628435,"IPHONE, MACINTOSH, GAME_CONSOLE",5,88486.166,1474.769433,24.579491

Timestamp('1970-01-01 00:29:06.471461582')